* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100dvh;
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.menu-btn {
    display: none;
    height: 60px;
    width: 45px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    border: none;
    background: #7B2CBF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#top-line,
#mid-line,
#btm-line {
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.menu-btn:hover #top-line,
.menu-btn:hover #mid-line,
.menu-btn:hover #btm-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation-name: dash;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-btn-show {
    display: grid;
}

.menu-btn-hide {
    display: none;
}

.menu-show {
    display: grid;
    grid-template-rows: 1fr 1fr;
    transform-origin: top left;
    animation-name: menu-show;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-hide {
    display: none;
}

.menu {
    position: relative;
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    transform-origin: top left;
}

.menu-top {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7B2CBF;
    clip-path: ellipse(100% 89.5% at 2px 9px);
    z-index: 1;
    opacity: 1;
    animation-name: top-circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-btm {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: #9D4EDD;
    clip-path: ellipse(100% 90% at 25px 7px);
    top: 0;
    left: 0;
    z-index: 0;
    animation-name: mid-circle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hide-menu-btn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #7B2CBF;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.cross-icon {
    stroke-width: 5px;
}

.show-hide-btn {
    display: grid;
    animation-name: show-hide-btn;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.remove-hide-btn {
    display: none;
}

@keyframes menu-show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show-hide-btn {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 500;
    }
    40% {
        stroke-dashoffset: 300;
    }
    60% {
        stroke-dashoffset: 200;
    }
    80% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes top-circle {
    0% {
        clip-path: ellipse(0px 0px at 0px 0px);
    }
    100% {
        clip-path: ellipse(100% 89.5% at 2px 9px);
    }
}

@keyframes mid-circle {
    0% {
        clip-path: ellipse(0px 0px at 0px 0px);
    }
    100% {
        clip-path: ellipse(100% 90% at 25px 12px);
    }
}
